.page-wrap {
  padding: 10px;
}

.step-wrap {
  width: 600px;
  margin: 10px 0;
}

.step-item {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px dotted #ccc;
}

.step-item>.input-item {
  width: 200px;
  margin-left: 10px;
}

.step-item>.del-btn {
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 16px;
  color: #666;
}

.select-item {
  margin-left: 10px !important;
  width: 100px;
}

.log-wrap {
  overflow-y: auto;
  width: 600px;
  height: 200px;
  margin: 10px 0;
  padding: 10px 0;
  font-size: 12px;
}

.log-item {
  display: block;
  margin-bottom: 5px;
}

.text-date {
  margin-right: 5px;
  color: green;
  font-weight: bold;
}

.text-warn {
  color: red;
}
