.step-wrap {
  width: 550px;
  margin: 10px 0;
}

.step-item {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px dotted #ccc;
}

.step-item>input, .step-item>select {
  margin-left: 10px;
}

.step-item>.del-btn {
  position: absolute;
  right: 0;
  top: 0;
}

.log-wrap {
  overflow-y: auto;
  height: 200px;
  width: 100%;
  margin: 10px 0;
  font-size: 12px;
}

.log-item {
  display: block;
  margin-bottom: 5px;
}

.text-date {
  margin-right: 5px;
  color: green;
  font-weight: bold;
}

.text-warn {
  color: red;
}
